@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
}
.nav-Container {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 30px;
  color: red;
  text-shadow: 2px 2px 4px red;
  text-decoration: none;
  font-style: italic;
}
.logo:hover {
  color: white;
  text-shadow: 2px 2px 4px white;
  transition: 0.3s ease-in-out;
}

.nav-Links {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-Buttons {
  display: flex;
  align-items: center;
  list-style: none;
}
.today,
.accumulator,
.contact,
.about,
.vip {
  color: white;
  text-decoration: none;
  padding: 5px 8px;
  margin: 0 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.today:hover,
.accumulator:hover,
.contact:hover,
.about:hover,
.vip:hover {
  color: red; /* Change text color to white on hover */
  text-shadow: 2px 2px 4px red; /* Add text shadow on hover */
  font-size: 20px;
  font-style: italic;
  text-decoration: 2px underline red;
  text-underline-offset: 5px;
}

.register,
.login {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 20px;
}
.register:hover {
  background-color: ghostwhite;
  color: black;
  text-shadow: 2px 2px 4px black;
  transition: 0.5s;
  transition: 0.3s ease-in-out;
}
.login:hover {
  background-color: ghostwhite;
  color: black;
  text-shadow: 2px 2px 4px black;
  transition: 0.3s ease-in-out;
}

.active {
  color: red;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-shadow: 2px 2px 4px red;
  font-style: italic;
}

button {
  border: none;
  background: none;
  font-size: 20px;
}

.mobile-menu-icon {
  display: none;
  color: white;
  height: 20px;
}

@media (max-width: 768px) {
  .nav-Links {
    display: none;
  }
  .logo {
    font-size: 25px;
    padding-left: 100px;
  }
  .nav-Buttons {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    right: 0;
    top: 70px;
    transition: all 0.5s ease-in-out;
    width: 40%;
    height: 50%;

    background-color: rgba(0, 0, 0, 0.8);
  }
  ul li {
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
}
